<div class = 'excerpt-thumbnail'>
    <a href='<%- config.root %><%- post.path %>'><img src = '<%- post.thumbnail %>'></a>
</div>
<div class = 'excerpt-body'>
<!-- Title -->
<h2 class='blog-post-title' postprop="name">
    <a href='<%- config.root %><%- post.path %>'>
        <% var postTitle;
            postTitle = post.title.replace('-',' ');
        %>
        <%- postTitle %>
    </a>
</h2>
<!-- Date and Author -->
<p class='blog-meta'>
    <% if (post.date) { %><%= post.date.format(config.date_format) %><% }%>
    <% if(post.author) { %>
        by <%- post.author %>
    <% } %>
</p>
<% 
    var postExcerpt;
    var postContent = strip_html(post.content);
    if(post.excerpt) {
        postExcerpt = post.excerpt;
    }else{
        postExcerpt = postContent.substring(0, config.excerpt_length);
    }
    %>
    <!-- post excerpt -->
<%- postExcerpt %>
<div class = 'btn'>
    <a href='<%- config.root %><%- post.path %>' class = 'btn-more'>
        <%= config.excerpt_label %>
    </a>
</div>
</div>
