<%- partial('_partial/gallery') %>
<section class = 'wrap'>
  <h2 class = 'headings'><%- config.featured %></h2>
  <div class='gallery'>
    <% site.posts.each(function(bestPost, i){ if (i<4) { %> <!-- output first four posts -->
        <a href='<%- config.root %><%- bestPost.path %>' class = 'gallery-item'>
            <img src = '<%- bestPost.thumbnail %>'>
            <div class = 'gallery-inner'><%- bestPost.title.replace('-', ' '); %></div>
        </a>
    <% } }); %>
  </div>
  <h2 class = 'headings'><%- config.recent %></h2>
  <% page.posts.each(function(item){ %>
    <%- partial('_partial/excerpt', {item: item}) %>
    <% }); %>
    <%- partial('_partial/pagination') %>
  </section>