<!doctype html>
<html>
  <%- partial('_partial/head') %>
  <body>
    <%- partial('_partial/header') %>
     <section class = 'content'>
       <%- body %>
     </section>
    <%- partial('_partial/footer') %>
  </body>
</html>