<section class = 'wrap blog'>
    <main class = 'blog-body'>
        <%- partial('_partial/article', {post: page, index: false}) %>
    </main>
    <aside class = 'blog-sidebar'>
        <%- partial('_partial/sidebar') %>
    </aside>
</section>