<%
/**
 * Display all categories and posts of a category
 * @param category
 * @returns {string}
 */
function displayCategoriesAndPosts(category) {
    // get its posts
    var posts = category.posts;
    // get its child categories
    var childCategories = site.categories.find({'parent': category._id});
    // init its parents
    var boxCSSClass = '';
    if (category.parents === undefined) {
        category.parents = [];
        boxCSSClass = 'box';
    }
    // create post content
    var html = '';
    html += '<div id="posts-list-' + category.name + '" class="archive ' + boxCSSClass + '" ' +
        'data-category="' + category.name.toLowerCase() + '" ' +
        'data-parent-categories="' + category.parents.join(',') + '">';
    // add category title
    html += '<h4 class="archive-title">';
    html += '<i class="fa fa-caret-right" aria-hidden="true"></i><a class="link-unstyled" href="' + url_for(category.path) + '">';
    html += category.name + ' (' + category.length + ')';
    html += '</a>';
    html += '</h4>';
    html += '</div>';
    return html;
}
%>
<div class="categories-archives">
  <section class="boxes">
      <% site.categories.sort('name').each(function(category) { %>
          <% if (!category.parent) { %>
                  <%- displayCategoriesAndPosts(category) %>
          <% } %>
      <% }); %>
  </section>
</div>
