<article  class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
  <div class="article-inner">
    <img src = '<%= post.thumbnail %>' class = 'article-thumbnail'>
    <% if (post.link || post.title){ %>
      <h2>
        <% var postTitle;
           postTitle = post.title.replace('-',' ');
        %>
        <%= postTitle %>
      </h2>
    <% } %>
    <p class='blog-meta'>
        <% if (post.date) { %><%= post.date.format(config.date_format) %><%}%>
        <% if(post.author) { %>
            by <%- post.author %>
        <% } %>
    </p>
    <div class="article-entry" itemprop="articleBody">      
      <%- post.content %>
    </div>
  </div>
</article>