<%
   var title = page.category;
%>
<div>
    <h1 class="category">
        <%= title %>
    </h1>
    <% page.posts.each(function (post, i) { %>
        <article class='excerpt'>
            <%- partial('post/posts', { post: post, index: true }) %>
        </article>
    <% }); %>
</div>
