<article class='excerpt'>
    <!-- Thumbnail -->
  <div class = 'excerpt-thumbnail'>
        <a href='<%- config.root %><%- item.path %>'><img src = '<%- item.thumbnail %>'></a>
  </div>
  <div class = 'excerpt-body'>
    <!-- Title -->
    <h2 class='blog-post-title'>
        <a href='<%- config.root %><%- item.path %>'>
            <% var itemTitle;
                itemTitle = item.title.replace('-',' ');
            %>
            <%- itemTitle %>
        </a>
    </h2>
    <!-- Date and Author -->
    <p class='blog-meta'>
        <% if (item.date) { %><%= item.date.format(config.date_format) %><% }%>
        <% if(item.author) { %>
            by <%- item.author %>
        <% } %>
    </p>
    <% 
       var postExcerpt;
       var postContent = strip_html(item.content);
       if(item.summary){
           postExcerpt = post.summary;
       }else if (item.excerpt) {
            postExcerpt = item.excerpt;
        }else{
            postExcerpt = postContent.substring(0, config.excerpt_length);
        }
     %>
     <!-- post excerpt -->
    <%- postExcerpt %>
    <div class = 'btn'>
        <a href='<%- config.root %><%- item.path %>' class = 'btn-more'>
            <%= config.excerpt_label %>
        </a>
    </div>
  </div>
</article>