<footer class = 'footer'>
  <% 
    var d, year;
    d = new Date();
    year = d.getFullYear();
  %>
  <div class = 'footer-inner'>
    <span class = 'copyrights'><i class = 'fa fa-copyright' aria-hidden = 'true'></i> <%= year %> <%= config.title %></span>
  </div>
</footer>
<%- js('libs/jquery-3.2.1.min') %>
<%- js('libs/lightslider/js/lightslider.min') %>
<%- js('js/insight') %>
<%- js('js/index') %>
