
<ul id="top-slider">
    <% for (var slide in site.data.slider ) { %>
    <li>
        <img src = '<%= site.data.slider[slide] %>'>
        <%- partial('_partial/search') %>
    </li>
    <%}%>
  </ul>
