<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title><%- config.title %><% if (page.title) { %> - <%- page.title.replace('-', ' ') %><% } %></title>
  <!-- Favicons and App Icons -->
  <link rel="apple-touch-icon" sizes="180x180" href="<%- config.root %>/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="<%- config.root %>/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="<%- config.root %>/favicons/favicon-16x16.png">
  <link rel="manifest" href="/favicons/manifest.json">
  <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">

  <!--Description-->
  <% if (page.description){ %>
    <meta name="description" content="<%= page.description %>">
<% } else if (config.description){ %>
    <meta name="description" content="<%= config.description %>">
<% } else if (page.excerpt){ %>
    <meta name="description" content="<%= strip_html(page.excerpt).replace(/^\s*/, '').replace(/\s*$/, '') %>">
<% } else if (page.content){ %>
    <meta name="description" content="<%= strip_html(page.content).replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 150) %>">
<% } %>

<!--Author-->
<% if (config.author){ %>
    <meta name="author" content="<%= config.author %>">
<% } %>
  <%- css('libs/lightslider/css/lightslider.min') %>
  <%- css('libs/font-awesome/css/font-awesome.min') %>
  <%- css('libs/fontello/css/fontello') %>
  <%- css('css/style') %>
</head>