<header class = 'head'>
  <div class = 'header'>
    <nav class = 'nav nav-top'>
      <div class = 'nav-brand'>
        <a href = '<%- config.root %>'><%- image_tag('/images/logo.png', []) %>
        </a>
        <span class = 'slogan'><%= config.slogan %></span>
        <span class = 'toggle-menu'><i class = 'fa fa-bars menu-icon'></i></span>
      </div>
      <ul class = 'nav-menu'>
        <% for (var i in theme.menu) {
          if (i == 'Categories') { %>
            <li class = 'nav-item nav-sub'>
              <%- list_categories({
                  depth: 2,
                  style: 'list',
                  class: 'sub',
                  show_count: false,
                  separator: ''
              }) %>
             </li>
          <% } else { %>
          <li class='nav-item' >
            <a class='nav-link' href='<%- url_for(theme.menu[i]) %>'><%=  i.toLowerCase() %></a>
          </li>
          <% }} %>
          <li class='nav-item' >
            <%- partial('_partial/search') %>
          </li>
      </ul>
    </nav>
    <div class='scroll'><div class='line_scroll'></div></div>
  </div>
</header>