<!-- pagination 
page number
-->
<ul class='paginate'>
    <% if (page.prev){ %>
        <li><a href='<%- config.root %><%- page.prev_link %>'><i class='icon-prev' aria-hidden='true'></i></a></li>
    <% } else {%>
        <li class = 'disabled'><i class='icon-prev' aria-hidden='true'></i></li>
    <% } %>
    <%= page.current %>/<%= page.total %>
    
    <% if (page.next){ %>
        <li><a href='<%- config.root %><%- page.next_link %>'><i class='icon-next' aria-hidden='true'></i></a></li>
    <% } else {%>
        <li class = 'disabled'><i class='icon-next' aria-hidden='true'></i></li>
    <% } %>
</ul>
