<div class='search'>
  <% if (theme.search.insight) { %>
     <div class = 'search-inner' contenteditable='true'>
       <i class='icon-search' aria-hidden='true'></i><span><%= theme.search.input_label %></span>
    </div>
      <%- partial('search/insight') %>
  <% } else { %>
      <%- search_form({ button: ' ', text: __('index.search') }) %>
  <% } %>
</div>