<div class = 'aside'>
  <h3>Table of contents</h3>
  <%- toc(page.content) %>
  <h3>Recent Posts</h3>
  <ul class = 'featured posts'>
    <% 
    site.posts.each(function(item, i){
      if(!is_current(item.path, []) ) { if (i<4) { %> <!-- Show the  latest four post -->
      <%
      var itemTitle;
        itemTitle = item.title.replace('-',' ');
      %>
      <li class = 'extra'>
        <div class = 'extra-thumbnail'>
            <a href='<%- config.root %><%- item.path %>'><%- image_tag(item.thumbnail, []) %></a>
        </div>
        <div class = 'extra-brief'>
          <h4><a href='<%- config.root %><%- item.path %>'><%= itemTitle %></a></h4>
        </div>
      </li>
      <% }}
    }); %>

  </ul>
  <h3>Social Links</h3>
</div>