<div class="ins-search">
    <div class="ins-search-mask"></div>
    <div class="ins-search-container">
        <div class="ins-input-wrapper">
            <input type="text" class="ins-search-input" placeholder="<%= theme.search.input_label %>" />
            <span class="ins-close ins-selectable"><i class="icon-close"></i></span>
        </div>
        <div class="ins-section-wrapper">
            <div class="ins-section-container"></div>
        </div>
    </div>
</div>
<script>
(function (window) {
    var INSIGHT_CONFIG = {
        TRANSLATION: {
            POSTS: '<%= config.posts %>',
            PAGES: '<%= config.pages %>',
            CATEGORIES: '<%= config.categories %>',
            TAGS: '<%= config.tags %>',
            UNTITLED: '<%= config.other %>',
        },
        ROOT_URL: '<%= config.root %>',
        CONTENT_URL: '<%- url_for("/content.json")%>',
    };
    window.INSIGHT_CONFIG = INSIGHT_CONFIG;
})(window);
</script>