*{
  box-sizing: border-box;
}
button,div,section,p,body,article,header,ul,ol,li,h1,h2,h3,h4,input{
  padding: 0;
  margin:0;
}
ul,
ol{
  list-style-type: none;
}
body{
  min-height: 100vh;
  font-size: $base-font-size;
  font-family: Arial, Helvetica, "Hiragino Sans GB", "Microsoft YaHei","WenQuanYi Micro Hei", sans-serif;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  color:lighten($dark-color,5%);
}
a,
a:visited{
  text-decoration: none;
  color:inherit;
  opacity:0.96;
}
a:hover,
a:focus{
  color:lighten($theme-color, 10%);
  opacity: 1;
}
img{
  width:100%;
}
p{
  padding:12.5px 0;
}
h1,h2,h3,h4{
  text-transform: capitalize;
  max-width: $global-max-width;
  margin:0 auto;
}
.headings{
  padding:0 0 25px 0;
  text-transform: uppercase;
}

@for $i from 1 through 4 {
  h#{$i}{
    @include headings(7.5%*$i, 12.5%*$i);
  }
}

.fa-caret-right{
  margin-right: 3px;
  color: lighten($dark-color,30%);
}

.lSSlideOuter .lSPager.lSpg>li a{
  background-color: rgba($light-color, 0.6);
}

.lSSlideOuter .lSPager.lSpg>li.active a, .lSSlideOuter .lSPager.lSpg>li:hover a {
  background-color: $light-color;
}
.lSAction>a {
  opacity:1;
  font-size:2.5em;
  margin-top:-32px;
  background-image:none;
  color: $light-color;
}
.lSAction>.lSPrev {
  left:8%;
}
.lSAction>.lSNext {
  right:8%;
}
.toc-child{
  padding-left:15px;
}
.toc-number{
  display:none;
}