// shared


// top navigation

.head{
  background-color: $light-color;
  width: 100%;
  position: fixed;
  z-index:999;
}
.nav{
  &-top{
    width:100%;
    max-width: $global-max-width;
    margin: 0 auto;
    height:75px;
    padding:0 15px;
    justify-content: space-between;
    position: relative;
  }
  &-mobile{
    bottom: 0;
    height:100vh;
    justify-content: flex-start;
    & .nav-menu{
      width: 90%;
      padding-top:75px;
      display: initial;
    }  
    & li{
      width:100%;
      padding: 0 15px;
      position:relative;
    }
    .slogan{
      top:50px;
      left:75px;
      display: initial;
    }
  }
  &-link{
    padding:0 15px;
    cursor:pointer;
    transition: color 0.5s ease-out;
  }
  & a:hover,{
    color:$theme-color;
  }
  &-top,
  &-menu{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    @media screen and (min-width: 768px){
      flex-flow: row wrap;
      align-items: center;
    }
  }
  &-menu{
      justify-content: space-around;
      display: none;
      font-size:1.2em;
      transition: all 0.5s ease-out;
      @media screen and (min-width: 768px){
        display: flex;
        flex-flow: row wrap;
      }
  }
  &-brand{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width:210px;
    @media screen and (min-width: 768px){
      width: 25%;
    }
  }
  & li{
    position:relative;
    flex-grow: 1;
  }
  & a{
    text-transform: capitalize;
    display: block;
    color:$dark-color;
  }
  & img{
    display: inline-block;
    width:120px;
    height:32px;
    transition: all 0.5s ease-out;
  }
  
}
.toggle-menu{
  padding:15px;
  & .menu-icon{
    transition: all 0.5s ease-out;
  }
  @media screen and (min-width:768px) {
    display:none;
  }
}
.resize{
  & .nav-top{
    height:54px;
  }
  & .nav-mobile{
    height:100vh;
  }
  & .slogan{
    font-size:1em;
  }
  & img{
    width: 100px;
    height: 27px;
  }
  & .search{
    font-size: 14px;
  }
}
.slogan{
  font-size: 1.2em;
  @media screen and (min-width:768px) {
    display:initial;
  }
}

.sub-list{
  display:flex;
  position: relative;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    flex-flow:row wrap;
    &-child{
      position: absolute;
      width:100%;
      min-width:120px;
      top:100%;
      left:0;
      background-color: #fff;
      height:0;
      transition: all 0.5s ease-out;
      overflow: hidden;
      & a{
        padding-bottom: 15px;
      } 
    }
    &-item:hover &-child{
      height:initial;
    }
  }
  &-link{
    padding:0 15px;
  }
  &-child{
    & li:first-child{
     padding-top:25px;
    }
    & li:last-child{
      padding-bottom:15px;
    }
    &-link{
      padding:15px;
      border-bottom:lighten($light-color, 5%);
    }
  }
}
// 
.header{
  position: relative;
}
.scroll {
  left:0;
  width: 100%;
  height: 1.5px;
  margin-bottom: 0px;
  position: absolute;
  top:0;
  overflow: hidden;
  background-color: #fafafa;
  display: flex;
  align-items:center;
}
.line_scroll {
  width: 0%;
  float: left;
  height: 100%;
  z-index:99;
  max-width: 100%;
  background-color:$theme-color;
  transition: width .5s ease;
}

//footer
.footer{
  margin-top:auto;
  padding:15px;
  background-color: $light-color;
  & .copyrights{ 
     text-transform: uppercase;
  }
  &-inner{
    max-width: $global-max-width;
    margin: 0 auto;
    padding-top: 20px;
    border-top: 1px solid darken($light-color, 75%);
  }
}

// content
.content{
  padding-top:75px;
}
.resize + .content{
  padding-top:48px;
}
.wrap{
  max-width: $global-max-width;
  margin: 0 auto;
  padding:0 20px 50px;
  @media screen and (min-width:768px) {
    padding:0 25px;
  }
}

// gallery
.gallery{
  width:100%;
  max-width:$global-max-width;
  margin:0 auto 25px;
  display:flex;
  flex-flow:row wrap;
  justify-content: space-between;
  &-inner{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    background: $light-color;
    text-transform: capitalize;
    width: 100%;
    z-index: 3;
    opacity:0;
    transition: opacity 0.3s ease-out
  }
  & a{
    @media screen and (min-width: 768px){
      width: 49%;
      max-height:300px;
      margin: 0 0 25px;
    }
    width:96%;
    margin: 0 15px 25px;
    overflow: hidden;;
    margin-bottom:25px;
    position: relative;
  }
  &-item:hover &-inner{
    opacity:1;
  }
  & img{
    width:100%;
    height:100%;
    transition: opacity 0.3s ease-out;
  }
  &-item:hover img{
    opacity: 0;
  }
}

// excerpt
.excerpt{
  display: flex;
  flex-direction: column;
  align-items: center;
  &-thumbnail,
  &-body{
    width:96%;
    margin: 0 25px 25px;
  }
  & p{
    padding:5px 0;
  }
  @media screen and (min-width: 768px){
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: stretch;
    &-thumbnail,
    &-body{
      margin:0 0 25px;
    }
    &-thumbnail{
      width:33%;
    }
    &-body{
      width:65%;
    }
  }
  & img{
    width:100%;
    max-width:480px;
  }
}
// posts
.blog{
  padding-top:25px;
  padding-bottom: 50px;
  display: flex;
  flex-direction:column;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    &-body{
      width:75%;
    }
    &-sidebar{
      width:22.5%;
    }
    &-meta{
      padding:5px 0;
    }
  }
}
.aside{
  position:sticky;
  position: -webkit-sticky;
  top:75px;
}
// override slider
.lSSlideOuter .lSPager.lSpg{
  position: relative;
  bottom: 10%; 
}
#top-slider{
  position: relative;
  &,li{
    max-height:100vh;
    overflow:hidden;
  }
  li{
    display: flex;
    align-items: center;
  }
}

//buttons
.btn{
  background-color: $button-color;
  color:$light-color;
  width: 120px;
  margin-top: 15px;
  border-radius: 5px;
  &-more{
    display: flex;
    justify-content: center;
    padding: 7.5px 12.5px;
    width:100%;
  }
  &:hover{
    background-color: $theme-color;
  }
  & a:hover{
    color:$light-color;
  }
}

// pagination
.paginate{
  width:120px;
  margin:15px auto 50px;
  display: flex;
  font-size:1.25em;
  justify-content: space-between;
  li{
    margin:0 5px;
  }
}
.disabled{
  opacity:0.5;
}

//archive sidebar links

.extra{
  display: flex;
  justify-content: space-between;
  &-thumbnail{
    flex:1;
  }
  &-brief{
    flex:2;
    padding-left:15px;
  }
}
@keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    transform: translate3d(200px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    transform: translate3d(10px, 0, 0);
  }

  90% {
    transform: translate3d(-5px, 0, 0);
  }

  to {
    transform: none;
  }
}

.bounceInRight {
  animation: bounceInRight 1s ease-in-out;
}
