.article{
  &-zoom{
    display: flex;
    color: transparent;
    flex-flow: row wrap;
    align-items: center;
    width: 100vw;
    cursor:pointer;
    background: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    justify-content: center;
  }
  & img{
    max-width: $global-max-width;
    z-index:99;
    position: relative;
    margin:20px auto;
  }
}
