input, textarea{
  -webkit-appearance: none;
}
.search{
  position: relative;
  cursor: pointer;
  text-align: left;
  font-size: 0.84em;
  padding-left: 15px;
  padding-right: 15px;
  span{
    display: none;
  }
}
#top-slider{
  .search {
    position: absolute;
    z-index:9;
    display: flex;
    justify-content: center;
    width: 100vw;
    cursor: text;
    padding:5px 15px 15px;
    font-size:16px;
    &-inner{
      width:100%;
      max-width:250px;
      text-align: left;
      font-size: 1.5em;
      padding:4px 0;
      color:$light-color;
      border-bottom:2px solid $light-color;
    }
    span{
      display: initial;
    }
    .fa{
      margin-right:5px;
      font-size:22px;
    }
    transition: all 0.5s ease-out;
  }
}
.ins-search {
  display: none;
  &.show {
    display: flex;
    position: fixed;
    background-color: rgba($dark-color,0.5);
    bottom: 0;
    width: 100%;
    top: 0;
    justify-content: center;
    align-items: center;
    z-index:999;
  }
  &-input {
    width: 100%;
    border: none;
    outline: none;
    padding:12px 15px;
    font-size: 16px;
    background: $light-color;
    line-height: 20px;
    border-bottom: 1px solid $theme-color;
    transition: all 0.5s ease-out;
    border-radius:0;
  }
  &-container {
    position: fixed;
    background:$light-color;
    border-radius: 7.5px;
    overflow: hidden;
    top: 100px;
    z-index: 101;
    bottom: 100px;
    width: 90%;
    @media screen and  (min-width:768px){
      max-width:540px;
    }
  }
  &-preview {
    height: 45px;
    font-size: 12px;
    color: #555;
    margin: 5px 0 0 20px;
  }
}
.ins-selectable {
  cursor: pointer;
}
.ins-input-wrapper {
  position: relative;
}
.ins-close {
  top: 50%;
  right: 15px;
  font-size: 1.25em;
  margin-top: -15px;
  position: absolute;
  text-align: center;
  display: inline-block;
}
.ins-close:hover {
  color: $theme-color;
}
.ins-section {
  font-size: 14px;
  line-height: 16px;
  &-container {
    position: relative;
    background: $light-color;
  }
  &-wrapper {
    left: 0;
    right: 0;
    top: 45px;
    bottom: 0;
    overflow-y: auto;
    position: absolute;
  }
  &-header {
    color: inherit;
    border-bottom: 1px solid $light-color;
  }
}
.ins-section-header,
.ins-search-item {
  padding:15px;
}
.ins-search-item header{
  text-transform: capitalize;
}
.ins-search-item header,
.ins-search-preview {
  overflow: hidden;
  // white-space: nowrap;
  text-overflow: ellipsis;
}
.ins-search-item header .fa {
  margin-right: 8px;
}
.ins-search-item:hover,
.ins-search-item.active {
  color: $theme-color;
}
