// VARIABLES

$theme-color: #ed3618;
$light-color: #fff;
$dark-color:#000;
$base-font-size: 16px;
$button-color: lighten($dark-color, 25%);
$global-max-width: 1024px; 

// MIXINS
@mixin headings($fraction, $reduce){
  color: lighten($dark-color, $fraction);
  font-size:175% - $reduce;
}